{
    "smtp": {
        "host": "smtp.example.com",
        "port": 25 or 587,
        "secure": true or false,
        "auth": {
            "user": "email@example.com",
            "pass": "verygoodpassword"
        }
    },
    "receivers": "autreemail@mail.server",
    "countyNumber": "31",
    "colors": {
        "red": "#ff0000",
        "green": "#00ff00",
        "yellow": "#ffee00",
        "blue": "00aeff"
    }
}