{
    "smtp": {
        "host": "smtp.example.com",
        "port": 25 or 587,
        "secure": true or false,
        "auth": {
            "user": "email@example.com",
            "pass": "verygoodpassword"
        }
    },
    "receivers": "autreemail@mail.server",
    "countyNumber": "31",
    "colors": [
        "#ff0000", 
        "#00ff00",
        "#ffee00",
        "00aeff"
    ]
}